
// ==========================================================================
// RESET
// ==========================================================================

	@import "compass/reset";

	*, *:before, *:after {
	    -webkit-box-sizing: border-box;
	       -moz-box-sizing: border-box;
	            box-sizing: border-box;
	}

	a{ text-decoration: none; }

// ==========================================================================
// IMPORT
// ==========================================================================

	@import "compass/css3/shared";
	@import "compass/css3/transform";

// ==========================================================================
// HELPERS
// ==========================================================================

    .clear{
    	@extend %clear;
    }

// ==========================================================================
// VARIÁVEIS E MIXINS
// ==========================================================================

	$width-desktop: 940px;

	$width-tablet-vertical: 590px;

	$width-tablet-horizontal: 800px;

	$width-celular-vertical: 300px;

	$width-celular-horizontal: 390px;

	$g3: 220px;
	$g4: 300px;

	$url: '../img/';

	$url-font: '../fonts/';

	$verde: #2ecc71;
	$verde-escuro: #177c42;
	$verde-claro: #27ae60;
	$azul: #2c3e50;

	@mixin sprite($x,$y) {
		background: url('#{$url}sprite.png') no-repeat $x $y;
	}

	@mixin center-project() {
		width: 90%;
		margin-left: 5%;
	}

// ==========================================================================
// FONTS
// ==========================================================================

	@font-face {
		font-family: 'NexaSlabHeavy';
		src: url('#{$url-font}nexaslabheavy.eot');
		src: url('#{$url-font}nexaslabheavy.eot?#iefix') format('embedded-opentype'),
			 url('#{$url-font}nexaslabheavy.woff') format('woff'),
			 url('#{$url-font}nexaslabheavy.ttf') format('truetype'),
			 url('#{$url-font}nexaslabheavy.svg#nexaslabheavy') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'NexaLight';
		src: url('#{$url-font}nexalight.eot');
		src: url('#{$url-font}nexalight.eot?#iefix') format('embedded-opentype'),
			 url('#{$url-font}nexalight.woff') format('woff'),
			 url('#{$url-font}nexalight.ttf') format('truetype'),
			 url('#{$url-font}nexalight.svg#nexalight') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'NexaSlabHeavyItalic';
		src: url('#{$url-font}nexaslabheavyitalic0.eot');
		src: url('#{$url-font}nexaslabheavyitalic0.eot?#iefix') format('embedded-opentype'),
			 url('#{$url-font}nexaslabheavyitalic0.woff') format('woff'),
			 url('#{$url-font}nexaslabheavyitalic0.ttf') format('truetype'),
			 url('#{$url-font}nexaslabheavyitalic0.svg#nexaslabheavyitalic0') format('svg');
		font-weight: normal;
		font-style: normal;
	}

// ==========================================================================
// PLACEHOLDERS
// ==========================================================================

	%bold{
		font-family: 'NexaSlabHeavy';
	}

	%italic{
		font-family: 'NexaSlabHeavyItalic';
	}

	%light{
		font-family: 'NexaLight';
	}

	%clear{
        zoom: 1;

        &:after{
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }
    }

// ==========================================================================
// BASE
// ==========================================================================

	body{
		background: url('#{$url}bg.jpg');
	}

	.wrapper{
		margin: 0 auto;
		position: relative;
		z-index: 9;
	}

	.t-sec{
		color: #fff;
		text-transform: uppercase;
		@extend %light;
		font-size: 36px;
		text-align: center;
	}

// ==========================================================================
// HEADER
// ==========================================================================

	.header{
		@extend %clear;
	}

	// AVATAR
	// ----------------------------------------------------------------------

		.avatar{
			border-radius: 50%;
		}
		.avatar-thumb{
			border-radius: 50%;
		}

	// APRESENTATION
	// ----------------------------------------------------------------------

		.presentation{
			@extend %light;
			color: #fff;

			strong{
				@extend %italic;
				color: $verde;
			}
		}

	// SOCIALS NETWOKRS
	// ----------------------------------------------------------------------

		.list-social-networks{
			li{
				display: inline-block;
				margin-right: 3px;
			}
		}
		.link-social-network{
			width: 32px;
			height: 32px;
			display: block;
			text-indent: -999999px;
		}

		.icon-git{
			@include sprite(0,0);
		}
		.icon-in{
			@include sprite(-32px,0);
		}
		.icon-face{
			@include sprite(-64px,0);
		}

// ==========================================================================
// MAIN
// ==========================================================================

	@mixin skewY($skew-y: $default-skew-y, $only3d: false) {
		$trans: skewY($skew-y);
		@include transform($trans, $only3d);
	}

	.full-screen{
		position: absolute;
	}

	.band-large{
		background: $verde;
		display: block;
		position: absolute;
		z-index: 7;
		@include skewY(-11deg);
	}

	.band-small{
		background: #27ae60;
		position: absolute;
		display: block;
		z-index: 3;
		@include skewY(23deg);
	}

	// SKILLS
	// ----------------------------------------------------------------------

		.skills{
			@extend %clear;
			text-align: center;
		}

		.skill{
			.title{ @extend %bold; }

			.description{
				color: #fff;
				font-family: arial, verdana;
				line-height: 1.2em;
			}
		}

		.skill-larger{
			.title{ color: $verde-escuro; }
		}

		.skill-normal{
			.title{
				color: $verde-claro;
			}
		}

		.icon-back-end,
		.icon-front-end,
		.icon-webdesign{
			display: block;
			margin: 0 auto;
		}

	// PROJECTS
	// ----------------------------------------------------------------------

		.project{
			border-radius: 3px;
			background: #fff;
			text-align: center;
			box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);

			.description{
				color: #adadac;
				line-height: 1.2em;
				@include center-project;
				font-family: arial, verdana;
			}
		}

		.header-project{
			.image-project{
				overflow: hidden;
				border-top-right-radius: 3px;
				border-top-left-radius: 3px;
			}

			.title{
				@extend %light;
				color: $azul;
				@include center-project;
			}
		}

		.footer-project{
			background: #f5f5f3;
			border-top: 2px solid darken(#f5f5f3, 5%);
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		.list-technologies{
			li{
				display: inline-block;
				color: #adadac;
				font-family: arial, verdana;

				&:after{ content: ","; }

				&:last-child:after{ content: ""; }
			}
		}

// ==========================================================================
// RESPONSIVE
// ==========================================================================

	@import "_responsive.scss";
